@model Task2WebApi.Models.DTO.Query6DTO
@{
    ViewData["Title"] = "GetResult";
}

<h2>Query 6</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <article>
            <p>Получить следующую структуру Post по Id поста </p>
            <ul>
                <li>Самый длинный коммент поста</li>
                <li>Самый залайканный коммент поста</li>
                <li>Количество комментов под постом где или 0 лайков или длина текста< 80</li>
            </ul>
        </article>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form asp-action="GetResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.PostId" class="control-label"></label>
                <input asp-for="@Model.PostId" class="form-control" />
                <span asp-validation-for="@Model.PostId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Get the result" class="btn btn-default" />
            </div>
        </form>
    </div>

    @if (Model != null && ViewBag.NotFound == null)
    {
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PostId)</th>
                        <th>@Html.DisplayNameFor(model => model.Result.LikestComm)</th>
                        <th>@Html.DisplayNameFor(model => model.Result.LongestComm)</th>
                        <th>@Html.DisplayNameFor(model => model.Result.LowRatedCommsCount)</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@Html.ActionLink(Model.PostId.ToString(), "ShowPost", "Show", new { id = Model?.PostId }, new { @style = "text-decoration: none;" })</td>
                        @if (Model.Result.LikestComm != null)
                        {
                            <td class="alert-info">
                                <dl class="dl-horizontal">
                                    <dt>@Html.DisplayNameFor(model => model.Result.LikestComm.Id)</dt>
                                    <dd>@Model.Result.LikestComm?.Id</dd>
                                    <dt>@Html.DisplayNameFor(model => model.Result.LikestComm.CreatedAt)</dt>
                                    <dd>@Model.Result.LikestComm?.CreatedAt</dd>
                                </dl>
                                <dl>
                                    <dt>@Html.DisplayNameFor(model => model.Result.LikestComm.Body)</dt>
                                    <dd>@Model.Result.LikestComm?.Body</dd>
                                    <dt>@Html.DisplayNameFor(model => model.Result.LikestComm.Likes)</dt>
                                    <dd>@Model.Result.LikestComm?.Likes</dd>
                                    @Html.ActionLink("Show more", "ShowComment", "Show", new { @Model.Result.LikestComm?.Id }, new { @class = "btn btn-info btn-xs" })
                                </dl>

                            </td>
                        }
                        else
                        {
                            <td>None</td>
                        }
                            @if (Model.Result.LongestComm != null)
                            {
                                <td class="alert-info">
                                    <dl class="dl-horizontal">
                                        <dt>@Html.DisplayNameFor(model => model.Result.LongestComm.Id)</dt>
                                        <dd>@Model.Result.LongestComm?.Id</dd>
                                        <dt>@Html.DisplayNameFor(model => model.Result.LongestComm.CreatedAt)</dt>
                                        <dd>@Model.Result.LongestComm?.CreatedAt</dd>
                                    </dl>
                                    <dl>
                                        <dt>@Html.DisplayNameFor(model => model.Result.LongestComm.Body)</dt>
                                        <dd>@Model.Result.LongestComm?.Body</dd>
                                        <dt>@Html.DisplayNameFor(model => model.Result.LongestComm.Likes)</dt>
                                        <dd>@Model.Result.LongestComm?.Likes</dd>
                                        @Html.ActionLink("Show more", "ShowComment", "Show", new { @Model.Result.LongestComm.Id }, new { @class = "btn btn-info btn-xs" })
                                    </dl>

                                </td>
                            }
                            else
                            {
                                <td>None</td>
                            }

                            <td>@Html.DisplayFor(model => model.Result.LowRatedCommsCount)</td>
                        </tr>

                </tbody>
            </table>

        </div>
    }
    @if (ViewBag.NotFound != null && ViewBag.NotFound)
    {
        <div class="col-md-9">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PostId)</th>
                    <th>@Html.DisplayNameFor(model => model.Result.LikestComm)</th>
                    <th>@Html.DisplayNameFor(model => model.Result.LongestComm)</th>
                    <th>@Html.DisplayNameFor(model => model.Result.LowRatedCommsCount)</th>
                </tr>

                <tr>
                    <td>>@Html.DisplayFor(model => model.PostId)</td>
                    <td>There's no such post.</td>
                </tr>

            </table>

        </div>

    }
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back Home</a>
</div>