@model Task2WebApi.Models.DTO.Query6DTO
@{
    ViewData["Title"] = "GetResult";
}

<h2>Query 6</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <article>
            <p>Получить следующую структуру Post по Id поста </p>
            <ul>
                <li>Самый длинный коммент поста</li>
                <li>Самый залайканный коммент поста</li>
                <li>Количество комментов под постом где или 0 лайков или длина текста< 80</li>
            </ul>
        </article>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form asp-action="GetResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.PostId" class="control-label"></label>
                <input asp-for="@Model.PostId" class="form-control" />
                <span asp-validation-for="@Model.PostId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Get the result" class="btn btn-default" />
            </div>
        </form>
    </div>

    @if (Model != null && ViewBag.NotFound == null)
    {
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PostId)</th>
                        <th>The most popular comment by likes</th>
                        <th>The longest comment</th>
                        <th>The number of comments without likes and less 80</th>
                        
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@Html.DisplayFor(model => model.PostId)</td>
                        <td>@Html.DisplayFor(model => model.Result.LikestComm)</td>
                        <td>@Html.DisplayFor(model => model.Result.LongestComm)</td>
                        <td>@Html.DisplayFor(model => model.Result.LowRatedCommsCount)</td>                        
                    </tr>

                </tbody>
            </table>

        </div>
    }
    @if (ViewBag.NotFound != null && ViewBag.NotFound)
    {
        <div class="col-md-9">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PostId)</th>
                    <th>The most popular comment by likes</th>
                    <th>The longest comment</th>
                    <th>The number of comments without likes and less 80</th>
                </tr>

                <tr>
                    <td>>@Html.DisplayFor(model => model.PostId)</td>
                    <td>There's no such post.</td>
                </tr>

            </table>

        </div>

    }
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back Home</a>
</div>