@model Task2WebApi.Models.DTO.Query1DTO
@{
    ViewData["Title"] = "GetResult";
}

<h2>Query 1</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <article>
            <p>Получить количество комментов под постами конкретного пользователя (по айди) (список из пост-количество)</p>
        </article>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form asp-action="GetResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.UserId" class="control-label"></label>
                <input asp-for="@Model.UserId" class="form-control" />
                <span asp-validation-for="@Model.UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Get the result" class="btn btn-default" />
            </div>
        </form>
    </div>

    @if (Model != null)
    {
        <div class="col-md-9">
            <table class="table">
                <tr>
                    <th>UserId</th>
                    <th>User Post</th>
                    <th>Number of Comments</th>
                </tr>
                @if (Model.Result != null && Model.Result.Count() > 0)
                {
                    @foreach (var item in Model.Result)
                    {
                        <tr>
                            <td>@Html.ActionLink(Model.UserId.ToString(), "ShowUser", "Show", new { id = Model.UserId }, new { @style = "text-decoration: none;" })</td>
                            <td>
                                <div>
                                    <dl>
                                        <dt>Post's Id</dt>
                                        <dd>@item.PostItem.Id</dd>
                                        <dt>Created</dt>
                                        <dd>@item.PostItem.CreatedAt</dd>
                                        <dt>Title</dt>
                                        <dd>@item.PostItem.Title</dd>
                                        <dt>Likes</dt>
                                        <dd>@item.PostItem.Likes</dd>
                                        @Html.ActionLink("Show more", "ShowPost", "Show", new { item.PostItem.Id }, new { @class = "btn btn-info btn-xs" })
                                    </dl>
                                    
                                </div>
                            </td>
                            <td>@item.CommentCount</td>
                        </tr>
                    }}
                else
                {
                    <tr>
                        <td>@Html.ActionLink(Model.UserId.ToString(), "ShowUser", "Show", new { id = Model.UserId }, new { @style = "text-decoration: none;" })</td>
                        <td colspan="1" class="text-center">No comments</td>
                        <td></td>
                    </tr>
                }
            </table>

        </div>
    }
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back Home</a>
</div>